<h2>Tambah Produk</h2>

<form action="/products/add" method="POST" style="margin-bottom:20px;">
  <input type="text" name="name" placeholder="Product Name" required>
  <input type="number" name="stock" placeholder="Stock" required>
  <button type="submit">Save</button>
</form>
